<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#GITS-CLASS" data-toc-modified-id="GITS-CLASS-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>GITS CLASS</a></span><ul class="toc-item"><li><span><a href="#Data-Processing" data-toc-modified-id="Data-Processing-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Data Processing</a></span><ul class="toc-item"><li><span><a href="#Load-Data-Source" data-toc-modified-id="Load-Data-Source-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Load Data Source</a></span></li><li><span><a href="#check-only-type-data-pandas" data-toc-modified-id="check-only-type-data-pandas-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>check only type data pandas</a></span></li><li><span><a href="#Working-With-datetime" data-toc-modified-id="Working-With-datetime-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Working With datetime</a></span><ul class="toc-item"><li><span><a href="#Convert-to-Datetime" data-toc-modified-id="Convert-to-Datetime-1.1.3.1"><span class="toc-item-num">1.1.3.1&nbsp;&nbsp;</span>Convert to Datetime</a></span></li></ul></li><li><span><a href="#Contingency-Table" data-toc-modified-id="Contingency-Table-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Contingency Table</a></span><ul class="toc-item"><li><span><a href="#Method-.value_counts()" data-toc-modified-id="Method-.value_counts()-1.1.4.1"><span class="toc-item-num">1.1.4.1&nbsp;&nbsp;</span>Method <code>.value_counts()</code></a></span></li><li><span><a href="#Cross-Tabulation" data-toc-modified-id="Cross-Tabulation-1.1.4.2"><span class="toc-item-num">1.1.4.2&nbsp;&nbsp;</span>Cross-Tabulation</a></span></li></ul></li><li><span><a href="#Summary:-Tables-in-pandas" data-toc-modified-id="Summary:-Tables-in-pandas-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>Summary: Tables in <code>pandas</code></a></span><ul class="toc-item"><li><span><a href="#Frequency-Tables" data-toc-modified-id="Frequency-Tables-1.1.5.1"><span class="toc-item-num">1.1.5.1&nbsp;&nbsp;</span>Frequency Tables</a></span></li><li><span><a href="#Aggregation-Tables" data-toc-modified-id="Aggregation-Tables-1.1.5.2"><span class="toc-item-num">1.1.5.2&nbsp;&nbsp;</span>Aggregation Tables</a></span></li><li><span><a href="#crosstab-vs-pivot_table" data-toc-modified-id="crosstab-vs-pivot_table-1.1.5.3"><span class="toc-item-num">1.1.5.3&nbsp;&nbsp;</span>crosstab vs pivot_table</a></span></li></ul></li><li><span><a href="#Missing-Values-and-Duplicates" data-toc-modified-id="Missing-Values-and-Duplicates-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>Missing Values and Duplicates</a></span><ul class="toc-item"><li><span><a href="#Missing-Values" data-toc-modified-id="Missing-Values-1.1.6.1"><span class="toc-item-num">1.1.6.1&nbsp;&nbsp;</span>Missing Values</a></span></li><li><span><a href="#Check-Missing-Values" data-toc-modified-id="Check-Missing-Values-1.1.6.2"><span class="toc-item-num">1.1.6.2&nbsp;&nbsp;</span>Check Missing Values</a></span></li><li><span><a href="#Treatment-for-Missing-Value" data-toc-modified-id="Treatment-for-Missing-Value-1.1.6.3"><span class="toc-item-num">1.1.6.3&nbsp;&nbsp;</span>Treatment for Missing Value</a></span></li></ul></li></ul></li><li><span><a href="#Data-Wrangling" data-toc-modified-id="Data-Wrangling-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Data Wrangling</a></span></li><li><span><a href="#Data-Visualization" data-toc-modified-id="Data-Visualization-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Data Visualization</a></span></li></ul></li></ul></div>

## GITS CLASS

### Data Processing

#### Load Data Source

In [3]:
import pandas as pd

#
data = pd.read_csv("data_customer_sellout.csv");

/Users/queen/opt/miniconda3/envs/git-class/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
# read data after load ( Data Frame )

        number   date  customer  source  store
0        False  False     False   False  False
1        False  False     False   False  False
2        False  False     False   False  False
3        False  False     False   False  False
4        False  False     False   False  False
...        ...    ...       ...     ...    ...
153626   False  False     False    True  False
153627   False  False     False    True  False
153628   False  False     False    True  False
153629   False  False     False    True  False
153630   False  False     False    True  False

[153631 rows x 5 columns]

In [11]:
## check information about data type, size

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153631 entries, 0 to 153630
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   number    153631 non-null  object
 1   date      153631 non-null  object
 2   customer  121984 non-null  object
 3   source    46985 non-null   object
 4   store     153631 non-null  object
dtypes: object(5)
memory usage: 5.9+ MB

#### check only type data pandas
data.dtypes

In [ ]:
#change type data columns

In [ ]:
#check memory usage from data frame load

#### Working With datetime

##### Convert to Datetime

There are three common ways for us to convert data type into `datetime64`:

In [ ]:
# with astype

In [ ]:
# with parameter parse_dates

In [16]:
# with `pd.to_datetime()`

#### Contingency Table

One of the simplest EDA toolkit to display **counts** of a categorical column:

Contingency = Cross-tabulation = Frequency tables

##### Method `.value_counts()`

Usage: Get the counts of each unique levels in one categorical column, sorted by descending order.

Parameter:

- `sort=False`: prevent any sorting values, **sort by index** instead
- `ascending=True`: **sort values** in ascending order

<b id='q1'>Business Question 1</b>

There are three categories of `source` (informasi pembelian), how many total transactions occurred in each `informasi pembelian`?

In [6]:
## use value_counts()

<b id='q2'>Business Question 2</b>

Which `weekday` has the **largest** and **smallest** transaction volume?

##### Cross-Tabulation

Versatile solution in producing frequency table is by using `crosstab`. Syntax:

    pd.crosstab(
        index=...,
        columns=...
    )
                
**Required Parameter**:

- `index`: Values to group by in the index (rows)
- `columns`: Values to group by in the columns

Let's re-create [Business Question 1](#q1) using `pd.crosstab()`:

How many total transactions occurred in each `source`?

#### Summary: Tables in `pandas`

##### Frequency Tables

Usage: calculate number of rows for categorical column

Methods:

- For one column, use `.value_counts()` (Series)
- For one or more columns:
    - `pd.crosstab(index, columns)` -> parameter `normalize`
    - `pd.pivot_table(index, columns, aggfunc='count')` but rarely used, doesn't have `normalize`

##### Aggregation Tables

Usage: aggregate numerical column which broken down by categorical column

Methods:

- `pd.crosstab(index, columns, values, aggfunc)`
- `pd.pivot_table(data, index, columns, values, aggfunc)`

##### crosstab vs pivot_table

The main differences between `crosstab` and `pivot_table` can be summarized as follows:

|                                                                                    | `pd.crosstab()` | `pd.pivot_table()` |
|------------------------------------------------------------------------------------|-----------------|--------------------|
|                                                                          **Input** | Array of values |          DataFrame |
|                                                              **Default `aggfunc`** |       `'count'` |           `'mean'` |
|                                                          **Parameter `normalize`** |       Available |      Not Available |
| [**Computation Time**](https://ramiro.org/notebook/pandas-crosstab-groupby-pivot/) | Relatively Slower |  Relatively Faster |

#### Missing Values and Duplicates

During the data exploration and preparation phase, it is likely we come across some problematic details in our data, such as: 

- Value of _-1_ for the _age_ column
- Value of _blank_ for the _customer segment_ column
- Value of _None_ for the _loan duration_ column
- etc

All of these are examples of "untidy" data, which is rather common depending on the data collection and recording process in a company.

##### Missing Values

Missing Values:

- `NaN`: Not a Number, for object and category
- `nan`: not a number, for numeric
- `NaT`: Not a Time, for datetime64

##### Check Missing Values

A common method to detect missing values:

- `.isna()`: returns `True` if the values are missing.
- `.notna()`: returns `True` if the values are **not** missing.

Count the **number** of missing values across each column:

- `True` will be treated as 1
- `False` will be treated as 0

##### Treatment for Missing Value

Three most common ways to deal with missing value:

1. Delete column
2. Delete row
3. Imputation (fill)

<b>Delete Row</b>

When we are certain that the rows with missing value can be safely dropped, we can use `.dropna()` method.

- `.dropna(how='any')`: drops row if **minimum 1 column** contain missing value

- `.dropna(how='all')`: drops row if **all values** are missing

- `.dropna(thresh=...)`: drops row if non-missing values < `thresh`

<b>Imputation </b>

Fill missing value with some value, using `.fillna()` method

### Data Wrangling

<b id='q1'>Business Question 1</b>

berapa jumlah transaksi berdasarkan masing masing source

<b id='q1'>Business Question 2</b>

Berapa Frequensi transaksi dari masing masing hari

### Data Visualization